<header class="header">
  <div class="header-inner">
    <div class="sun"></div>
    <h2 class="title">
      <a class="title-link" href="/">
        <img class="title-img" src="/img/jaketrent-logo-inverted.png" alt="{{ .Site.Title }}" />
      </a>
    </h2>
    <nav class="topnav">
      <a class="topnav-link topnav-link__green {{ if eq .Section "work" }}active{{ end }}" href="/work">
        <div class="topnav-link-icon">
          <div class="topnav-link-icon-line"></div>
          <div class="topnav-link-icon-planet"></div>
        </div>
        Works
      </a>
      <a class="topnav-link topnav-link__blue {{ if eq .Section "post" }}active{{ end }}" href="/post">
        <div class="topnav-link-icon">
          <div class="topnav-link-icon-line"></div>
          <div class="topnav-link-icon-planet"></div>
        </div>
        Posts
      </a>
      <a class="topnav-link topnav-link__orange {{ if eq .Section "book" }}active{{ end }}" href="/book">
        <div class="topnav-link-icon">
          <div class="topnav-link-icon-line"></div>
          <div class="topnav-link-icon-planet"></div>
        </div>
        Books
      </a>
    </nav>
  </div>
</header>
