<div class="post-image2">
  <img class="post-image2-bg" src="{{ .Params.image }}" />

  <div class="post-image2-row">
    <h2 class="post-image2-title">
      <a class="post-image2-title-link" href="{{ .URL }}">
        {{ .Title }}
      </a>
    </h2>

    {{ if .Params.image }}
      <a href="{{ .URL }}">
        <img class="post-image2-fg" src="{{ .Params.image }}" />
      </a>
    {{ end }}
  </div>


  <div class="post-image2-actions">
    {{ partial "meta.html" . }}
  </div>

  <div class="post-image2-summary">
    {{ .Summary }}
  </div>
</div>
