<section>
  <ul id="social">
    <li class="social-github"><a href="http://github.com/jaketrent" title="Github" class="first">Github</a></li>
    <li class="social-twitter"><a href="http://twitter.com/jaketrent" title="Twitter">Twitter</a></li>
    <li class="social-linkedin"><a href="http://linkedin.com/in/jaketrent" title="LinkedIn">LinkedIn</a></li>
    <li class="social-googleplus"><a href="https://plus.google.com/115032056022257436849?rel=author" title="Google Plus">Google Plus</a></li>
    <li class="social-rss"><a href="/atom.xml" title="RSS">RSS</a></li>
  </ul>
</section>
