.footer-container {
  background: white;
  -webkit-box-shadow: inset 0px 5px 15px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    inset 0px 5px 15px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         inset 0px 5px 15px 0px rgba(50, 50, 50, 0.3);
}

.main-footer {
  position: relative;
  width: $container-width;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.main-footer-logo {
  display: none;
}

.main-footer-links-list {
  list-style: none;
  padding-left: 0;
}

.main-footer-links-item {
  display: inline-block;
  margin-right: 10px;

  &.main-footer-links-item-extra {
    display: none;
  }
}

.main-footer-verbage {
  display: none;
}

@media screen and (min-width: $min-width-med) {

  .main-footer {
    padding: 50px 0;
  }

  .main-footer-logo {
    display: block;
    position: absolute;
    top: 50px;
    left: $sidebar-width - 100px - 20px;
    height: 28px;
    width: 100px;
    background: url(/images/jaketrent-logo-sm.png) no-repeat center;
    background-size: cover;
  }

  .main-footer-links-list {
    margin-left: $sidebar-width + 20px;
    padding-left: 20px;
  }

  .main-footer-links-item {
    display: block;
    margin-bottom: 4px;

    &.main-footer-links-item-extra {
      display: block;
    }
  }

  .main-footer-verbage {
    display: inline;
  }

}

@media screen and (min-width: $min-width-lrg) {

  .main-footer-logo {
    left: $sidebar-width - 20px;
  }

  .main-footer-links-list {
    margin-left: $sidebar-width + 100px;
  }
}