.container {
  position: relative;
  width: $container-width;
  max-width: 100%;
  margin: 0 auto;
}

.content {
  padding: 40px 20px;
}

@media screen and (min-width: $min-width-lrg) {

  .content {
    margin-left: $sidebar-width + 100px;
    min-height: 600px;
  }

}
