
.main-nav {
  display: none;
}

.main-nav-list {
  list-style: none;
  margin-left: 0;
  font-family: $sans;
}

.main-nav-item {
  display: block;

  &:nth-of-type(1) .main-nav-link {
    border-top: 1px solid lighten($nav-item-1-color, 10%);
    background: $nav-item-1-color;
    border-bottom: 1px solid darken($nav-item-1-color, 10%);

    &:hover {
      background: darken($nav-item-1-color, 5%);
    }
  }
  &:nth-of-type(2) .main-nav-link {
    border-top: 1px solid lighten($nav-item-2-color, 10%);
    background: $nav-item-2-color;
    border-bottom: 1px solid darken($nav-item-2-color, 10%);

    &:hover {
      background: darken($nav-item-2-color, 5%);
    }
  }
  &:nth-of-type(3) .main-nav-link {
    border-top: 1px solid lighten($nav-item-3-color, 10%);
    background: $nav-item-3-color;
    border-bottom: 1px solid darken($nav-item-3-color, 10%);

    &:hover {
      background: darken($nav-item-3-color, 5%);
    }
  }
  &:nth-of-type(4) .main-nav-link {
    border-top: 1px solid lighten($nav-item-4-color, 10%);
    background: $nav-item-4-color;
    border-bottom: 1px solid darken($nav-item-4-color, 10%);

    &:hover {
      background: darken($nav-item-4-color, 5%);
    }
  }
  &:nth-of-type(5) .main-nav-link {
    border-top: 1px solid lighten($nav-item-5-color, 10%);
    background: $nav-item-5-color;
    border-bottom: 1px solid darken($nav-item-5-color, 10%);

    &:hover {
      background: darken($nav-item-5-color, 5%);
    }
  }
}
.main-nav-link {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #efefef;
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px 0 #515151;
  text-decoration: none;

  &:hover {
    text-decoration: none
  }
}

.logo-title {
  font-size: 20px;
}

.logo-link {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px 0 #515151;
  text-decoration: none;

  border-top: 1px solid lighten($nav-item-2-color, 10%);
  background: $nav-item-2-color;
  border-bottom: 1px solid darken($nav-item-2-color, 10%);
}

.logo-img {
  margin-top: 10px;
  display: block;
  height: 30px;
  width: 110px;
  background: url(/images/jaketrent-logo-sm-inverted.png) no-repeat center;
  background-size: cover;
}


@media screen and (min-width: $min-width-med) {

  .sidebar {
    position: absolute;
    top: 50px;
    left: 0;
    width: $sidebar-width;
  }

  .main-nav {
    display: block;
    @include border-radius(0 10px 10px 0);
    @include box-shadow(10px 2px 20px rgba(0,0,0,.1), 2px 2px 2px rgba(20,0,0,.1));
  }

  .main-nav-item {
    &:first-of-type .main-nav-link {
      @include border-top-right-radius(10px);
    }
    &:last-of-type .main-nav-link {
      @include border-bottom-right-radius(10px);
    }
  }

  .logo-link {
    display: block;
    overflow: hidden;
    padding: 0 20px 130px 20px;
    background: none;
    color: inherit;
    text-shadow: none;
    border: none;
    background: none;
  }

  .logo-img {
    height: 56px;
    width: 202px;
    background: url(/images/jaketrent-logo.png) no-repeat center;
    background-size: cover;
  }

}

@media screen and (min-width: $min-width-lrg) {

  .sidebar {
    left: 50px;
  }

}
