/* for "recent work" section */

.work-list {
  overflow: hidden;
  position: relative;
  left: -10px;
  top: 1em;
}

.work-item {
  float: left;
  padding: 10px;
}

.entry-work {
  .entry-img {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: $min-width-med) {

  .work-item {
    width: percentage(1/2);
  }

}

@media screen and (min-width: $min-width-lrg) {

  .work-item {
    width: percentage(1/3);
  }

}
