@import "compass";
@include global-reset;
@include reset-html5;

@import "base";
@import "partials";

* {
  box-sizing: border-box;
}

body {
  font-family: $sans;
  background: #f5ede3;
}

.container {
  position: relative;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.main-nav {
  display: none;
}

.main-nav-list {
  list-style: none;
  margin-left: 0;
}

.main-nav-item {
  display: block;

  &:nth-of-type(1) .main-nav-link {
    border-top: 1px solid lighten($nav-item-1-color, 10%);
    background: $nav-item-1-color;
    border-bottom: 1px solid darken($nav-item-1-color, 10%);

    &:hover {
      background: darken($nav-item-1-color, 5%);
    }
  }
  &:nth-of-type(2) .main-nav-link {
    border-top: 1px solid lighten($nav-item-2-color, 10%);
    background: $nav-item-2-color;
    border-bottom: 1px solid darken($nav-item-2-color, 10%);

    &:hover {
      background: darken($nav-item-2-color, 5%);
    }
  }
  &:nth-of-type(3) .main-nav-link {
    border-top: 1px solid lighten($nav-item-3-color, 10%);
    background: $nav-item-3-color;
    border-bottom: 1px solid darken($nav-item-3-color, 10%);

    &:hover {
      background: darken($nav-item-3-color, 5%);
    }
  }
  &:nth-of-type(4) .main-nav-link {
    border-top: 1px solid lighten($nav-item-4-color, 10%);
    background: $nav-item-4-color;
    border-bottom: 1px solid darken($nav-item-4-color, 10%);

    &:hover {
      background: darken($nav-item-4-color, 5%);
    }
  }
}
.main-nav-link {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #efefef;
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px 0 #515151;
  text-decoration: none;

  &:hover {
    text-decoration: none
  }
}

.logo-title {
  font-size: 20px;
}

.logo-link {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px 0 #515151;
  text-decoration: none;

  border-top: 1px solid lighten($nav-item-2-color, 10%);
  background: $nav-item-2-color;
  border-bottom: 1px solid darken($nav-item-2-color, 10%);
}

.content {
  padding: 40px 20px;
}

.entry {
  overflow: hidden;

  & + & {
    margin-top: 50px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }

  img,
  video,
  .flash-video {
    max-width: 100%;
    @include border-radius(0.3em);
    @include box-shadow(rgba(0,0,0,.15) 0 1px 4px);
    border: #fff 0.5em solid;
  }

  h1, h2 { font-size: 24px; margin-bottom: 10px; color: #232020; }
  h3 { font-size: 22px; margin-bottom: 8px; color: #464040; }
  h4 { font-size: 20px; margin-bottom: 6px; }
  h5 { font-size: 18px; margin-bottom: 4px; }
  h6 { font-size: 16px; margin-bottom: 2px; }

  .meta,
  .entry-categories {
    overflow: hidden;
    font-size: 14px;
    color: #656565;
  }
}

.entry-title {
  margin-bottom: .5em;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.full-article-link {
  background: #ebebeb;
  display: inline-block;
  padding: .4em .8em;
  margin-right: .5em;
  text-decoration: none;
  color: #666;
  border-bottom: 1px solid #595959;
  @include transition(background-color 0.5s);

  &:hover {
    background: #ff520c;
    color: #efefef;
    border-bottom: 1px solid transparent;
  }
}

.prev-article-link,
.next-article-link {
  font-size: 16px;
}

.prev-article-link {
  float: left;
}

.next-article-link {
  float: right;
}

.pagination {
  padding: 20px 0;
  text-align: center;

  & > a {
    display: inline-block;
    margin: 0 10px;
  }
}

.comments {
  padding-top: 25px;
}

.comments-title {
  font-size: 24px;
}

.page-title {
  font-size: 30px;
}

.archive-year-title {
  padding: 40px 0 10px 0;
  border-bottom: 1px solid red;
  margin-bottom: 25px;
  font-size: 26px;
}

.entry-archive {

  .entry-title {
    font-size: 28px;
  }

  .entry-date {
    display: inline-block;
  }

  .entry-categories {
    position: relative;
    top: 3px;
    display: inline-block;
    font-size: inherit;
  }

}

.main-footer {
  padding: 0 20px;
}

.main-footer-extras {
  display: none;
}

@media screen and (min-width: $min-width-sm) {
  .main-footer-extras {
    display: inline;
  }
}

@media screen and (min-width: $min-width-med) {

  .sidebar {
    position: absolute;
    top: 110px;
    left: 0;
    width: 250px;
  }

  .main-nav {
    display: block;
    @include border-radius(0 10px 10px 0);
    @include box-shadow(10px 2px 20px rgba(0,0,0,.1), 2px 2px 2px rgba(20,0,0,.1));
  }

  .main-nav-item {
    &:first-of-type .main-nav-link {
      @include border-top-right-radius(10px);
    }
    &:last-of-type .main-nav-link {
      @include border-bottom-right-radius(10px);
    }
  }

  .logo {
    padding-top: 40px;
  }

  .logo-link {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background: none;
    color: inherit;
    text-shadow: none;

    border: none;
    background: none;
  }

  .content {
    margin-left: 270px;
  }

  .entry {

    h1 { font-size: 50px; margin-bottom: 10px; }
    h2 { font-size: 34px; margin-bottom: 10px; }
    h3 { font-size: 30px; margin-bottom: 8px; }
    h4 { font-size: 28px; margin-bottom: 6px; }
    h5 { font-size: 26px; margin-bottom: 4px; }
    h6 { font-size: 24px; margin-bottom: 2px; }

  }

}

@media screen and (min-width: $min-width-lrg) {

  .container {
  }

  .sidebar {
    left: 50px;
  }

  .logo-link {
    padding: 0;
  }

  .content {
    margin-left: 350px;
  }

  .main-footer {
    padding: 0 20px 0 370px;
  }

}

