{{ partial "head" . }}

<body class="home-body">

{{ partial "header2" . }}

<div class="content">

  <div class="home-courses">
    <a class="home-course" href="http://stylingreact.com">
      <img src="/img/stylingreactadvert.jpg" class="home-course-img" />
    </a>
    <a class="home-course" href="http://electroncourse.com">
      <img src="/img/electroncourseadvert.jpg" class="home-course-img" />
    </a>
  </div>

  <div class="home-arts">
    {{ range first 1 (where .Data.Pages "Section" "post") }}
      <article class="home-art">
        <a class="home-art-title" href="{{ .URL }}">{{ .Title }}</a></h2>
        <time class="home-art-date" pubdate datetime="{{ .Date }}">
          {{- dateFormat "2 Jan 2006" .Date -}}
        </time>
        <a class="home-art-img-link" href="{{ .URL }}">
          <img class="home-art-img" src="{{ .Params.image }}">
        </a>
      </article>
    {{ end  }}

    {{ range first 2 (after 1 (where .Data.Pages "Section" "post")) }}
      <a class="home-art-title" href="{{ .URL }}">
        {{ .Title }}
      </a>
      <time class="home-art-date" pubdate datetime="{{ .Date }}">
        {{- dateFormat "2 Jan 2006" .Date -}}
      </time>
    {{ end }}

    <div class="home-arts-link">
      <a href="/post" class="read-more">All posts</a>
    </div>

  </div>

  <div class="home-books">

    {{ range first 6 (where .Data.Pages "Section" "book") }}
      <article class="home-book">
        <a class="home-book-link" href="{{ .URL }}">
          <img class="home-book-img" src="{{ .Params.image }}">
        </a>
      </article>
    {{ end  }}

  </div>

  <div class="home-books-link">
    <a href="/book" class="read-more">All books</a>
  </div>
  
</div>

{{ partial "footer2" . }}

{{ partial "foot" . }}
