{{ partial "head.html" . }}

<body class="home-body">

{{ partial "header2" . }}

<div class="content">
  <main class="main">
    <article class="book">
      <div class="page-spacer">
        <header class="book-header">
          <h1 class="book-title">{{ .Title }}</h1>
          {{ partial "meta.html" . }}
        </header>
        {{ if .Params.image }}
          <img class="book-image" src="{{ .Params.image }}" />
        {{ end }}
      </div>
      <div class="markdown-content">
        <div class="book-words">
          {{ .Content }}
        </div>
      </div>
      <div class="page-spacer">
        <footer class="book-footer">
          <div>
            {{ partial "twitter" . }}
            {{ partial "amazon" . }}
          </div>
          <div class="disclosures">
            {{ partial "disclosures-affiliate" }}
          </div>
        </footem>
      </div>
    </article>
    <div class="page-spacer">
      <div class="comments">
        {{ partial "comments.html" . }}
      </div>
    </div>
  </main>
</div>
{{ partial "footer2.html" . }}

{{ partial "foot.html" . }}
