@font-face {
  font-family: 'Gobold-Regular';
  src: url('/type/gobold-regular.otf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  background: url(/img/topbar4-2048-60.jpg) no-repeat top center;
  background-size: contain;
}
a {
  cursor: pointer;
  color: #754778;
}
.sun {
  display: none;
}
.header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 22px;
}
.title-link {}
.title-img {
  max-width: 40vw;
  max-height: 80px;
  position: relative;
  z-index: 2;
}
.topnav {}
.topnav-link {
  display: inline-block;
  margin: 0 4px 0 0;
  color: white;
}
/* .topnav-link__blue.active, */
.topnav-link__blue:hover {
  color: #3b8da0;
}
/* .topnav-link__orange.active, */
.topnav-link__orange:hover {
  color: #e36320;
}
/* .topnav-link__green.active, */
.topnav-link__green:hover {
  color: #94c24c;
}
.topnav-link-icon {
  display: none;
}
.main {
  background: #fff;
  /* background: linear-gradient(white 0px, transparent 60vw); */
}
.main {
  border-top: 8px solid #eda43a;
  border-left: 8px solid #eda43a;
}

/* section: home (sm) */
.home-section {
  padding-bottom: 50px;
}
.home-highlight {
  padding: 0 0 15px 0;
}
.home-highlight-title {
  line-height: 1.2em;
  font-family: "Gobold-Regular";
  font-weight: 100;
  color: #4e2b55;
}
.home-highlight-title-link {
  text-decoration: none;
  color: #4e2b55;
}
.home-highlight-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 0.3em;
  box-shadow: rgba(0,0,0,0.45) 0 1px 4px;
  border: #fff 0.5em solid;
}
.home-list-links-title-link {
  text-decoration: none;
  color: inherit;
}
.home-list-link {
  display: block;
  padding: 2px 0;
}
.home-list-link-all {
  padding-top: 8px;
}

/* section: list */
.list-header {
  display: flex;
  align-items: center;
  padding: 20px 0 30px 0;
  margin: 5px 0 30px 0;
  border-bottom: 1px solid orange;
}
.list-title {
  margin: 0;
  font-family: "Gobold-Regular";
  font-weight: 600;
  color: #4e2b55;
}
.list-nav {
  margin-left: auto;
}

/* section: list--book (sm) */
.list--book .rating {
  justify-content: flex-end;
}
.list-content--book {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* section: list--tag */
.list-item--tag {
  margin-bottom: 0.3em;
}

/* section: book-cover (sm) */
.book-cover {
  padding: 0 0 35px 0; 
}
.book-cover-link {
  display: inline-block;
  margin: 15px 0 0 0;
  padding: 25px 30px 25px 20px;
  text-decoration: none;
  color: gray;
  font-family: sans-serif;
  font-weight: 100;
}
.book-cover-image {
  max-width: 150px;
}
.book-cover-link:hover .book-cover-image {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

/* section: rating (sm) */
.rating {
  display: flex;
}
.rating-star {
  margin: 0 3px 0 0;
  height: 20px;
  width: 20px;
  fill: orange;
  stroke: black;
  stroke-width: 10;
}

/* section: post */
.post {
}
.post-header {}
.post-subheader {
  padding: 10px 0;
  color: #ababab;
}
.post-subheader a {
  color: #ababab;
  color: #8a8391;
}
.post-date {
  margin: 0 10px 0 0;
}
.post-categories {
  margin: 0 10px 0 0;
}
.post-categories-link {}
.post-tags {}
.post-tags-link {}
.post-title {
  margin: 24px 0 0 0;
  padding: 0;
  line-height: 1.2em;
  font-family: "Gobold-Regular";
  font-weight: 100;
  color: #4e2b55;
}
.post-footer {
}

/* section: book */
.book {
  padding: 35px 0 0 0;
}
.book-header {}
.book-rating {
  margin-bottom: .5em;
}
.book-title {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  font-family: "Gobold-Regular";
  font-weight: 100;
  color: #4e2b55;
}
.book-content {}
.book-image {
  display: block;
  margin: 0 auto;
}
.book-words {}
.book-footer {
}

/* section: work (sm) */
.work {
  padding: 36px 0 0 0;
}
.work-title {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  font-family: "Gobold-Regular";
  font-weight: 100;
  color: #4e2b55;
}
.work-meta-container {
  margin-bottom: 16px;
}
.work-image {
  margin-bottom: 16px;
}
.work-words {
}
.work-links {
  
}
.work-link {
  display: inline-flex;
  align-items: center;
  background: #754778;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 12px;
}
.work-link:hover {
  background: #4e2b55;
}
.work-link-icon {
  height: 22px;
  width: 22px;
  margin-right: 5px;
  fill: none;
  stroke: #fff;
  stroke-width: 10px;
}
.work-link-label {
  color: #fff;
}

/* section: summ (sm) */
.summ {
  padding: 0 0 35px 0;
}
.summ-header {}
.summ-title {
  display: flex;
  align-items: flex-start;
  line-height: 1.2em;
  font-family: "Gobold-Regular";
  font-weight: 100;
  color: #4e2b55;
}
.summ-title-link {
  text-decoration: none;
  color: #4e2b55;
}
.summ-content {
  padding: 0 0 15px 0;
}
.summ-image {
  margin-bottom: 20px;
}

/* section: summ--book */



/* section: disclosures */
.disclosures {
  padding-top: 32px;
}
.disclosures__notice {
  padding-top: 16px;
  color: #ababab;
  font-size: 12px;
  line-height: 16px;
}
.disclosures__notice a {
  color: inherit;
}

.comments {
  padding: 12px 0 0 0;
}

/* hightlight.js atom-one-dark theme, downloaded from */
/* https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/atom-one-dark.min.css */
.hljs{display:block;overflow-x:auto;padding:0.5em;color:#abb2bf;background:#282c34}.hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-keyword,.hljs-formula{color:#c678dd}.hljs-section,.hljs-name,.hljs-selector-tag,.hljs-deletion,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-string,.hljs-regexp,.hljs-addition,.hljs-attribute,.hljs-meta-string{color:#98c379}.hljs-built_in,.hljs-class .hljs-title{color:#e6c07b}.hljs-attr,.hljs-variable,.hljs-template-variable,.hljs-type,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-number{color:#d19a66}.hljs-symbol,.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-title{color:#61aeee}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}.hljs-link{text-decoration:underline}

.paginator {
  display: flex;
  justify-content: center;
}
.paginator a {
  margin: 0 24px;
}

/* section: error (sm) */
.error {
  padding: 10vw 0;
  text-align: center;
}
.error-title {
  font-size: 20vw;
  line-height: 22vw;
  margin: 0;
  color: #4e2b55;
  font-family: "Gobold-Regular";
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.error-subtitle {
  font-size: 3vw;
  line-height: 4vw;
  text-transform: uppercase;
}

/* section: footer (sm) */
.footer-border {
  background: #151412 url(/img/footer2-1600-40.jpg) no-repeat top center;
  background-size: 100%;
  height: 42vw;
  padding-top: 15px;
  margin: 0 0 -1px 0;
}
.footer {
  background: #151412;
}
.footer-inner {
  color: #ababab;
  font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
  font-size: 12px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.footer-inner a {
  color: #8a8391;
}
.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-list-item {
  padding: 0 0 10px 0;
}

/* size: med - content-related */
@media screen and (min-width: 621px) {
  .home-highlight-image {
    margin: 0;
  }

  /* section: list--tag (med) */
  .list-content--tag {
    column-count: 3;
  }

  /* section: book (med) */
  .book {
    overflow: auto;
  }
  .book-image {
    float: left;
    margin: 10px 20px 10px 0;
  }
}

/* size: large - larger header and content */
@media screen and (min-width: 800px) {
  body {
    font-size: 18px;
    line-height: 1.3em;
  }
  @keyframes planet-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .sun {
    position: absolute;
    top: -250px;
    left: -420px;
    display: block;
    width: 608px;
    height: 565px;
    background: url(/img/sun.png) no-repeat center;
    animation: 1000s linear planet-rotate;
    z-index: 1;
    pointer-events: none;
  }
  .header-inner,
  .footer-inner,
  .main {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
  .title {
    margin-top: 70px;
  }
  .topnav {
    padding-top: 75px;
  }
  .topnav-link {
    position: relative;
    margin-right: 50px;
    font-size: 20px;
    text-decoration: none;
    transition: color .2s;
  }
  .topnav-link:last-child {
    margin-right: 0;
  }
  @keyframes topnav-link-icon-planet-bob {
    0% { transform: translateY(0); }
    40% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  .topnav-link-icon {
    position: absolute;
    top: 0;
    transform: translateY(-280px);
    display: block;
  }
  .topnav-link-icon-line {
    margin: 0 auto 15px auto;
    width: 2px;
    height: 200px;
    background: white;
  }
  .topnav-link-icon-planet {
    height: 52px;
    width: 52px;
    background-position: center;
    background-repeat: no-repeat;
    animation: 1.3s ease-in-out infinite paused topnav-link-icon-planet-bob;
  }
  .topnav-link__blue .topnav-link-icon-planet {
    background-image: url("/img/blueplanet-sm.png");
  }
  .topnav-link__orange .topnav-link-icon-planet {
    background-image: url("/img/orangeplanet-sm.png");
  }
  .topnav-link__green .topnav-link-icon-planet {
    background-image: url("/img/greenplanet-sm.png");
  }
  .topnav-link:hover .topnav-link-icon-planet {
    animation-play-state: running;
  }

  /* section: home (large) */
  .home-section {
    display: flex;
  }
  .home-highlight {
    flex: 2;
  }
  .home-highlight-title {
    font-size: 40px;
  }
  .home-highlight-image {
    max-width: calc(100% - 1em);
  }
  .home-highlight-image--book {
    float: left;
    margin: 0 10px 20px 0;
  }
  .home-list {
    flex: 1;
    padding: 95px 0 0 40px;
  }
  .home-list-link {
    padding: 5px 0;
  }
  .home-list-link-all {
    padding: 15px 0;
  }

  /* section: list (large) */
  .list-header {
    margin: 20px 0 30px 0;
  }

  /* section: summ (large) */
  .summ-title {
    font-size: 35px;
  }

  /* section: summ--book (large) */
  .summ-image--book {
    float: left;
    margin: 0 10px 20px 0;
  }

  /* section: book-cover (large) */
  .book-cover-image {
    max-width: 200px;
  }


  /* section: post (large) */
  .post-subheader {
    display: flex;
  }
  .post-title {
    font-size: 50px;
  }

  /* section: book (large) */
  .book-subheader {
    display: flex;
  }
  .book-title {
    font-size: 50px;
  }

  /* section: work (large) */
  .work-title {
    font-size: 50px;
  }

  .footer-inner {
    font-size: inherit;
  }
}

/* size: xl - larger home screen */
@media screen and (min-width: 1130px) {
  .header-inner,
  .footer-inner,
  .main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }

  /* section: home (xl) */
  .home {
    padding-top: 40px;
  }
  .post-title {
    margin: 48px 0 0 0;
  }
}



/* components */

/* component: summary-image1 */
.summary-image1 {
  position: relative;
  overflow: hidden;
  padding: 24px 0;
  background-color: #eda43a;
}
.summary-image1-title {
  position: relative;
  margin: 0 0 18px 0;
  padding: 0 10px;
  line-height: 1.2em;
  font-family: "Gobold-Regular";
  font-weight: 100;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7), 0 0 25px rgba(0, 0, 0, 0.9);
}
.summary-image1-fg {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  max-width: 100%;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.5);
}
.summary-image1-bg {
  position: absolute;
  top: -8px;
  left: -8px;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  filter: blur(8px) brightness(120%) contrast(70%);
  -webkit-filter: blur(8px) brightness(120%) contrast(70%);
}
@media screen and (min-width: 621px) {
  .summary-image1-title {
    font-size: 30px;
  }
  .summary-image1-fg {
  }
  .summary-image1-bg {
  }
}
@media screen and (min-width: 701px) {
  .summary-image1 {
    padding: 40px 0 40px 40px;
  }
  .summary-image1-title {
    padding: 0;
  }
}
@media screen and (min-width: 800px) {
  .summary-image1-title {
    font-size: 42px;
  }
}

/* component: post-image1 */
.post-image1 {
  position: relative;
  overflow: hidden;
  padding: 24px 0;
  background-color: #eda43a;
}
.post-image1-title {
  position: relative;
  margin: 0 0 18px 0;
  padding: 0 10px;
  line-height: 1.2em;
  font-family: "Gobold-Regular";
  font-weight: 100;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7), 0 0 25px rgba(0, 0, 0, 0.9);
}
.post-image1-fg {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  max-width: 100%;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.5);
}
@keyframes post-image1-bg-zoom {
  0% {}
  100% {
    width: calc(105% + 16px);
    height: calc(105% + 16px);
    filter: blur(8px) brightness(120%) contrast(70%);
    -webkit-filter: blur(8px) brightness(120%) contrast(70%);
  }
}
.post-image1-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  animation: 1700ms ease-in-out 700ms forwards post-image1-bg-zoom;
  filter: blur(8px) brightness(100%) contrast(70%);
  -webkit-filter: blur(8px) brightness(100%) contrast(70%);
}
@media screen and (min-width: 621px) {
  .post-image1-title {
    font-size: 30px;
  }
  .post-image1-fg {
  }
  .post-image1-bg {
  }
}
@media screen and (min-width: 701px) {
  .post-image1 {
    padding: 40px 0 40px 40px;
  }
  .post-image1-title {
    padding: 0;
  }
}
@media screen and (min-width: 800px) {
  .post-image1-title {
    font-size: 42px;
  }
}

/* component: page-spacer */
.page-spacer {
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 1130px) {
  .page-spacer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* component: read-more */
.read-more {
  display: inline-block;
  margin: 6px 0 0 0;
  padding: 12px 16px;
  /* padding: 25px 30px 25px 20px; */
  text-decoration: none;
  color: gray;
  font-family: sans-serif;
  font-weight: 100;
  border-radius: 3px;
  transform: translateX(-16px);
  transition: transform 300ms, color 500ms, background 500ms;
}
.read-more--left {
  transform: translateX(16px);
}
.read-more:hover,
.read-more:active {
  color: #fff;
  background: #eda43a;
  transform: translateX(0);
}

/* component: meta */
.meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
  margin: 12px -3px;
}
.meta__links--tags {
  display: flex;
  flex-wrap: wrap;
}
.meta__link {
  margin: 3px;
  flex: 0 0 auto;
  color: #000;
  text-decoration: none;
  border-radius: 3px; 
  padding: 1px 6px;
  font-size: 12px;
  font-weight: 100;
  line-height: 18px;
  height: 18px;
  background: #ababab;
  color: #fff;
}
.meta__link:hover ,
.meta__link:active {
  background: #4e2b55;
}
.meta__link--date {
  color: #fff;
  height: 24px;
  line-height: 24px;
  font-size: 16px;

  background: #eda43a;
  border-radius: 3px; 
  padding: 3px 10px;

  font-family: "Gobold-Regular";
  text-shadow: 1px 1px 0 #000;
}
.meta__link--date:hover ,
.meta__link--date:active {
  background: #eda43a;
}
@media screen and (min-width: 621px) {
  .meta {
    margin: 24px -6px;
  }
  .meta__links--tags {
    margin-left: 12px;
  }
  .meta__link {
    padding: 3px 14px;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
  }
  .meta__link--date {
    height: 32px;
    line-height: 32px;
    font-size: 18px;
  }
}

/* component: markdown-content */
.markdown-content img,
.markdown-content object {
  display: block;
  max-width: calc(100% - 1em);
  border-radius: 0.3em;
  box-shadow: rgba(0,0,0,0.45) 0 1px 4px;
  border: #fff 0.5em solid;
}
.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  line-height: 1.1em;
  font-family: "Gobold-Regular";
  font-weight: 100;
  color: #4e2b55
  margin: 0;
}
.markdown-content h1,
.markdown-content h2 {
  padding: 20px 0 8px 0;
}
.markdown-content ul,
.markdown-content ol {
  list-style-position: inside; 
}
.markdown-content h1 code,
.markdown-content h2 code,
.markdown-content h3 code,
.markdown-content h4 code,
.markdown-content h5 code,
.markdown-content h6 code,
.markdown-content ul code,
.markdown-content ol code,
.markdown-content p code {
  display: inline-block;
  white-space: nowrap;
  background: #ffeec0;
  font-size: .8em;
  line-height: 1.5em;
  color: #443846;
  padding: 0 .3em;
  margin: -1px 0;
  border-radius: 0.3em;
  box-shadow: rgba(0,0,0,0.25) 0 1px 1px;
  border: #fff 0.2em solid;
}
.markdown-content pre code {
  position: relative;
  font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  overflow-x: auto;
  line-height: 1.45em;
  margin: 0;
  background: rgb(40, 44, 52) url(/img/code-bg.jpg) no-repeat bottom right / 100% auto;
  color: #f3e2ed;
  box-shadow: rgba(0,0,0,0.45) 0 1px 4px;
}
.markdown-content > :not(pre), /* page-spacer */ 
.markdown-content pre code {
  padding-left: 10px;
  padding-right: 10px;
}
.markdown-content pre code::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background: orange;
  color: white;
  padding: 0 .5em .125em .5em;
  font-size: .875em;
  background: #eda43a;
  font-family: "Gobold-Regular";
  text-shadow: 1px 1px 0 #000;
}
.markdown-content pre code.language-css::after,
.markdown-content pre code.css::after {
  content: "css";
}
.markdown-content pre code.language-javascript::after,
.markdown-content pre code.javascript::after {
  content: "js";
}
.markdown-content pre code.language-json::after,
.markdown-content pre code.json::after {
  content: "json";
}
.markdown-content pre code.language-html::after,
.markdown-content pre code.html::after {
  content: "html";
}
.markdown-content pre code.language-bash::after {
  content: "bash";
}
.markdown-content pre code.language-txt::after {
  content: "txt";
}
@media screen and (min-width: 621px) {
  .markdown-content p,
  .markdown-content ul,
  .markdown-content ol {
    max-width: 620px;
  }
}
@media screen and (min-width: 800px) {
  .markdown-content pre {
    margin: 2em 0;
  }
}
@media screen and (min-width: 1130px) {
  .markdown-content > :not(pre), /* page-spacer */
  .markdown-content pre code {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* component: btn */
.btn {
  display: inline-flex;
  align-items: center;
  background: grey;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.45em 0.85em;
}
.btn:hover {
  background: darkgrey;
}
.btn__icon {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
  fill: white;
}
.btn__label {
  color: white;
}
.btn--amazon {
  background: #eda43a;
}
.btn--amazon:hover {
  background: #ffba55;
}
.btn--twitter {
  background: #1da1f2;
}
.btn--twitter:hover {
  background: #4bcaff;
}

/* component: solar */
@keyframes solar__orbit {
  from {
    offset-distance: 0%;
  }
  to { 
    offset-distance: 100%;
  }
}
.solar {
  height: 500px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.solar__map {
  background: black url(/img/code-bg.jpg) no-repeat center / cover;
  width: 100%;
}
.solar__path {
  stroke: white;
  fill: none;
}
.solar__path--orange {
  stroke: #94c24c;
}
.solar__path--blue {
  stroke: #3b8da0;
}
.solar__path--green {
  stroke: #e36320;
}
.solar__planet {
  animation-name: solar__orbit; 
  animation-duration: 6s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  offset-rotate: 0deg;
  background-position: center;
  background-repeat: no-repeat;
}
.solar__planet:hover {
  animation-play-state: paused;
  border-radius: 50%;
  stroke: white;
  stroke-width: 3px;
}
.solar__planet--green {
  fill: url(#planet-img--green);
  offset-path: path('M97.86,646.54C94.56,634.74,62.6,512.71,466.61,361s459.85-36.86,465.77-24.06C938,347,986.59,462.2,563.63,622.48S101.5,659.51,97.86,646.54');
  animation-duration: 51s; 
}
.solar__planet--blue {
  fill: url(#planet-img--blue);
  offset-path: path('M253.6,590c-2.53-9-27-102.59,282.68-218.91s352.52-28.26,357.05-18.44c4.28,7.75,41.56,96-282.68,218.91S256.38,599.9,253.6,590');
  offset-distance: 25%;
  animation-duration: 31s; 
}
.solar__planet--orange {
  fill: url(#planet-img--orange);
  offset-path: path('M417.68,529.84c-1.77-6.33-18.94-71.87,198-153.36s247-19.79,250.13-12.92c3,5.43,29.12,67.28-198,153.36S419.63,536.81,417.68,529.84');
  offset-distance: 50%;
  animation-duration: 21s; 
}
.solar__sun {
  animation: 100s linear planet-rotate infinite;
  transform-origin: center;
}