@font-face {
  font-family: 'Junction';
  src: url('/type/junction-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Junction';
  src: url('/type/junction-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Junction';
  src: url('/type/junction-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  background: url(/img/topbar2-1600-40.jpg) no-repeat top center;
  background-size: contain;
}
a {
  cursor: pointer;
  color: #754778;
}
.sun {
  display: none;
}
.header-inner,
.footer-inner,
.main {
  padding-left: 10px;
  padding-right: 10px;
} 
.header {
}
.header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 22px;
}
.title-link {}
.title-img {
  max-width: 40vw;
  max-height: 80px;
  position: relative;
  z-index: 2;
}
.topnav {}
.topnav-link {
  display: inline-block;
  margin: 0 4px 0 0;
  color: white;
}
/* .topnav-link__blue.active, */
.topnav-link__blue:hover {
  color: #3b8da0;
}
/* .topnav-link__orange.active, */
.topnav-link__orange:hover {
  color: #e36320;
}
/* .topnav-link__green.active, */
.topnav-link__green:hover {
  color: #94c24c;
}
.topnav-link-icon {
  display: none;
}
.main {
  background: linear-gradient(white 0px, transparent 60vw);
}
.main {
  position: relative;
  border-top: 8px solid #eda43a;
  padding: 10px;
}
.main:before, .main:after {
  content: "";
  position: absolute;
  background-image: -webkit-gradient(linear, 0 0, 0 50vh, from(#eda43a), to(transparent));
  background-image: -webkit-linear-gradient(#eda43a, transparent 50vh);
  background-image: -moz-linear-gradient(#eda43a, transparent 50vh);
  background-image: -o-linear-gradient(#eda43a, transparent 50vh);
  background-image: linear-gradient(#eda43a, transparent 50vh);
  top: -8px;
  bottom: -8px;
  width: 8px;
}
.main:before {
  left: -8px;
}
.main:after {
  right: -8px;
}

/* section: home (sm) */
.home-section {
  padding-bottom: 50px;
}
.home-highlight {
  padding: 0 0 15px 0;
}
.home-highlight-title {
  line-height: 1.2em;
  font-family: "Junction";
  font-weight: 100;
  color: #4e2b55;
}
.home-highlight-title-link {
  text-decoration: none;
  color: #4e2b55;
}
.home-highlight-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 0.3em;
  box-shadow: rgba(0,0,0,0.45) 0 1px 4px;
  border: #fff 0.5em solid;
}
.home-list-link {
  display: block;
  padding: 2px 0;
}
.home-list-link-all {
  padding-top: 8px;
}

/* section: list */
.list {
}
.list-title {
  font-family: "Junction";
  font-weight: 600;
  color: #4e2b55;
  padding: 20px 0 30px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid orange;
}

/* section: post */
.post {
  padding: 35px 0 0 0;
}
.post-header {}
.post-subheader {
  padding: 10px 0;
  color: #ababab;
}
.post-subheader a {
  color: #ababab;
  color: #8a8391;
}
.post-date {
  margin: 0 10px 0 0;
}
.post-categories {
  margin: 0 10px 0 0;
}
.post-categories-link {}
.post-tags {}
.post-tags-link {}
.post-title {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  font-family: "Junction";
  font-weight: 100;
  color: #4e2b55;
}
.post-content {}
.post-footer {
}

/* section: book */
.book {
  padding: 35px 0 0 0;
}
.book-header {}
.book-subheader {
  padding: 10px 0;
  color: #ababab;
}
.book-subheader a {
  color: #ababab;
  color: #8a8391;
}
.book-date {
  margin: 0 10px 0 0;
}
.book-categories {
  margin: 0 10px 0 0;
}
.book-categories-link {}
.book-tags {}
.book-tags-link {}
.book-title {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  font-family: "Junction";
  font-weight: 100;
  color: #4e2b55;
}
.book-content {}
.book-image {
  display: block;
  margin: 0 auto;
}
.book-words {
  font-size: 1.3em;
  line-height: 1.4em;
}
.book-footer {
}

/* section: post-summ (sm) */
.post-summ {
  padding: 0 0 35px 0;
}
.post-summ-header {}
.post-summ-title {
  display: flex;
  align-items: flex-start;
  line-height: 1.2em;
  font-family: "Junction";
  font-weight: 100;
  color: #4e2b55;
}
.post-summ-title-link {
  text-decoration: none;
  color: #4e2b55;
}
.post-summ-content {
  padding: 0 0 15px 0;
}
.post-summ-image {
  margin-bottom: 20px;
}
.post-summ-link {
  display: inline-block;
  margin: 15px 0 0 0;
  padding: 25px 30px 25px 20px;
  text-decoration: none;
  color: gray;
  font-family: Junction;
  font-weight: 100;
}
.post-summ-link:hover {
  background: url("/img/readmore.jpg") no-repeat center;
  background-size: 100%;
  color: #efefef;
}

/* section: book-summ */
.book-summs {
  display: flex;
  flex-wrap: wrap;
}
.book-summ {
  padding: 0 0 35px 0;
}
.book-summ-link {
  display: inline-block;
  margin: 15px 0 0 0;
  padding: 25px 30px 25px 20px;
  text-decoration: none;
  color: gray;
  font-family: Junction;
  font-weight: 100;
}
.book-summ-image {
  max-width: 150px;
}
.book-summ-link:hover .book-summ-image {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

/* section: social */
.social {}
.social-link {
  display: inline-flex;
  align-items: center;
  background: #1da1f2;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 12px;
}
.social-link:hover {
  background: #4e2b55;
}
.social-icon {
  height: 22px;
  width: 22px;
  margin-right: 5px;
  fill: white;
}
.social-label {
  color: white;
}
.comments {
  padding: 40px 0 0 0;
}


/* post-content dynamic tags */
.post-summ-content img,
.post-summ-content object,
.post-content img,
.post-content object,
.book-content img,
.book-content object {
  display: block;
  max-width: calc(100% - 1em);
  border-radius: 0.3em;
  box-shadow: rgba(0,0,0,0.45) 0 1px 4px;
  border: #fff 0.5em solid;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-family: Junction;
  font-weight: 100;
  color: #4e2b55
  margin: 0;
}
.post-content h1,
.post-content h2 {
  padding: 20px 0 8px 0;
}
.post-content ul,
.post-content ol {
  list-style-position: inside; 
}


/* syntax highlighting */
.post-content p code {
  display: inline-block;
  white-space: nowrap;
  background: #f3e2ed;
  font-size: .8em;
  line-height: 1.5em;
  color: #443846;
  padding: 0 .3em;
  margin: -1px 0;
  border-radius: 0.3em;
  box-shadow: rgba(0,0,0,0.25) 0 1px 1px;
  border: #fff 0.2em solid;
}
.post-content pre code {
  font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding: 10px;
  overflow-x: auto;
  line-height: 1.45em;
  margin: 0;
  background: rgb(40, 44, 52);
  color: #f3e2ed;
  border-radius: 0.3em;
  box-shadow: rgba(0,0,0,0.45) 0 1px 4px;
  border: #fff 0.5em solid;
}

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #888888 } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #008800; font-weight: bold } /* Keyword */
.highlight .cm { color: #888888 } /* Comment.Multiline */
.highlight .cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #888888 } /* Comment.Single */
.highlight .cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #303030 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #606060 } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008800 } /* Keyword.Pseudo */
.highlight .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #888888; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #0000DD; font-weight: bold } /* Literal.Number */
.highlight .s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.highlight .na { color: #336699 } /* Name.Attribute */
.highlight .nb { color: #003388 } /* Name.Builtin */
.highlight .nc { color: #bb0066; font-weight: bold } /* Name.Class */
.highlight .no { color: #003366; font-weight: bold } /* Name.Constant */
.highlight .nd { color: #555555 } /* Name.Decorator */
.highlight .ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0066bb; font-weight: bold } /* Name.Function */
.highlight .nl { color: #336699; font-style: italic } /* Name.Label */
.highlight .nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.highlight .py { color: #336699; font-weight: bold } /* Name.Property */
.highlight .nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #336699 } /* Name.Variable */
.highlight .ow { color: #008800 } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.highlight .sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.highlight .sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
.highlight .sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.highlight .s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
.highlight .se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.highlight .sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
.highlight .si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.highlight .sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.highlight .sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.highlight .s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
.highlight .ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.highlight .bp { color: #003388 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #336699 } /* Name.Variable.Class */
.highlight .vg { color: #dd7700 } /* Name.Variable.Global */
.highlight .vi { color: #3333bb } /* Name.Variable.Instance */
.highlight .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

.paginator {
  display: flex;
  justify-content: center;
}
.paginator a {
  text-decoration: none;
  color: gray;
  font-family: Junction;
  font-weight: 100;
  padding: 15px 60px 15px 40px;
}
.paginator a:hover {
  background: url("/img/readmore.jpg") no-repeat center;
  background-size: 100%;
  color: #efefef;
}
.paginator-prev {}
.paginator-next {}

/* section: error (sm) */
.error {
  padding: 10vw 0;
  text-align: center;
}
.error-title {
  font-size: 20vw;
  line-height: 22vw;
  margin: 0;
  color: #4e2b55;
  font-family: "Junction";
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.error-subtitle {
  font-size: 3vw;
  line-height: 4vw;
  text-transform: uppercase;
}

/* section: footer (sm) */
.footer-border {
  background: #151412 url(/img/footer2-1600-40.jpg) no-repeat top center;
  background-size: 100%;
  height: 42vw;
  margin: 15px 0 -1px 0;
}
.footer {
  background: #151412;
}
.footer-inner {
  color: #ababab;
  font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
  font-size: 12px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.footer-inner a {
  color: #8a8391;
}
.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-list-item {
  padding: 0 0 10px 0;
}

/* size: med - content-related */
@media screen and (min-width: 621px) {
  .home-highlight-image {
    margin: 0;
  }

  .post-summ-content p,
  .post-content p,
  .post-summ-content ul,
  .post-content ul,
  .post-summ-content ol,
  .post-content ol {
    max-width: 620px;
  }

  .book {
    overflow: auto;
    padding-bottom: 50px;
  }
  .book-image {
    float: left;
    margin: 0 30px 20px 0;
  }
}

/* size: large - larger header and content */
@media screen and (min-width: 800px) {
  body {
    font-size: 18px;
    line-height: 1.3em;
  }
  @keyframes planet-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .sun {
    position: absolute;
    top: -250px;
    left: -420px;
    display: block;
    width: 608px;
    height: 565px;
    background: url(/img/sun.png) no-repeat center;
    animation: 1000s linear planet-rotate;
    z-index: 1;
    pointer-events: none;
  }
  .header-inner,
  .footer-inner,
  .main {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
  .title {
    margin-top: 70px;
  }
  .topnav {
    padding-top: 75px;
  }
  .topnav-link {
    position: relative;
    margin-right: 50px;
    font-size: 20px;
    text-decoration: none;
  }
  .topnav-link:last-child {
    margin-right: 0;
  }
  @keyframes topnav-link-icon-planet-bob {
    0% { transform: translateY(0); }
    40% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  .topnav-link-icon {
    position: absolute;
    top: 0;
    transform: translateY(-400px);
    display: block;
    transition: transform .6s;
  }
  .topnav-link-icon-line {
    margin: 0 auto 15px auto;
    width: 2px;
    height: 200px;
    background: white;
  }
  .topnav-link-icon-planet {
    height: 52px;
    width: 52px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .topnav-link__blue .topnav-link-icon-planet {
    background-image: url("/img/blueplanet-sm.png");
  }
  .topnav-link__orange .topnav-link-icon-planet {
    background-image: url("/img/orangeplanet-sm.png");
  }
  .topnav-link__green .topnav-link-icon-planet {
    background-image: url("/img/greenplanet-sm.png");
  }
  .topnav-link:hover .topnav-link-icon {
    transform: translateY(-280px);
  }
  .topnav-link:hover .topnav-link-icon-planet {
    animation: 1.3s ease-in-out .6s infinite topnav-link-icon-planet-bob;
  }

  .home-section {
    display: flex;
  }
  .home-highlight {
    flex: 2;
  }
  .home-highlight-title {
    font-size: 40px;
  }
  .home-highlight-image {
    max-width: calc(100% - 1em);
  }
  .home-highlight-image--book {
    float: left;
    margin: 0 10px 20px 0;
  }
  .home-list {
    flex: 1;
    padding: 95px 0 0 40px;
  }
  .home-list-link {
    padding: 5px 0;
  }
  .home-list-link-all {
    padding: 15px 0;
  }

  /* section: post-summ (large) */
  .post-summ-title {
    font-size: 35px;
  }
  .post-summ-link {
    padding: 25px 50px 25px 40px;
  }

  /* section: book-summ (large) */
  .book-summ-image {
    max-width: 200px;
  }

  /* section: post (large) */
  .post-subheader {
    display: flex;
  }
  .post-title {
    font-size: 50px;
  }
  .post-content pre {
    margin: 2em 0;
  }

  /* section: book (large) */
  .book-subheader {
    display: flex;
  }
  .book-title {
    font-size: 50px;
  }

  .footer-inner {
    font-size: inherit;
  }
}

/* size: xl - larger home screen */
@media screen and (min-width: 1130px) {
  .header-inner,
  .footer-inner,
  .main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding-left: 40px;
    padding-right: 40px;
  }
}