{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="main">
  <article class="post">
    {{ if .Params.image }}
      <div class="post-image1">
        <img class="post-image1-bg" src="{{ .Params.image }}" />
        <h1 class="post-image1-title">{{ .Title }}</h1>
        <img class="post-image1-fg" src="{{ .Params.image }}" />
      </div>
    {{ end }}
    <div class="page-spacer">
      <header class="post-header">
        {{ if not .Params.image }}
          <h1 class="post-title">{{ .Title }}</h1>
        {{ end }}
        {{ partial "meta.html" . }}
      </header>
    </div>
    <div class="page-spacer">
      <div class="post-content">
        {{ .Content }}
      </div>
      <footer class="post-footer">
        {{ .Render "social" }}
        {{ partial "disclosures.html" . }}
      </footem>
    </div>
  </article>
  <div class="page-spacer">
    <div class="comments">
      {{ template "_internal/disqus.html" . }}
    </div>
  </div>
</main>

{{ partial "footer.html" . }}

{{ partial "foot.html" . }}
