{{ partial "head.html" . }}

<body class="home-body">

{{ partial "header2" . }}

<div class="content">
  <main class="main">
    <article class="post">
      {{ partial "post-image1.html" . }}
      <div class="page-spacer">
        <header class="post-header">
          {{ partial "meta.html" . }}
        </header>
      </div>
      <div class="markdown-content">
        {{ .Content }}
      </div>
      <div class="page-spacer">
        <footer class="post-footer">
          <div>
            {{ partial "twitter" . }}
          </div>
          {{ partial "disclosures" .Params.disclosures }}
        </footem>
      </div>
    </article>
    <div class="page-spacer">
      <div class="comments">
        {{ partial "comments.html" . }}
      </div>
    </div>
  </main>
</div>

{{ if in .Params.categories "Code" }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{{ end  }}

{{ partial "footer2.html" . }}

{{ partial "foot.html" . }}
