{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="main">
  <article class="post">
    {{ partial "post-image1.html" . }}
    <div class="page-spacer">
      <header class="post-header">
        {{ partial "meta.html" . }}
      </header>
    </div>
    <div class="page-spacer">
      <div class="post-content">
        {{ .Content }}
      </div>
      <footer class="post-footer">
        {{ .Render "social" }}
        {{ partial "disclosures.html" . }}
      </footem>
    </div>
  </article>
  <div class="page-spacer">
    <div class="comments">
      {{ partial "comments.html" . }}
    </div>
  </div>
</main>

{{ if in .Params.categories "Code" }}
  <link defer rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/atom-one-dark.min.css" type="text/css" media="all" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{{ end  }}

{{ partial "footer.html" . }}

{{ partial "foot.html" . }}
