<nav class="work-links">
  {{ if .Params.source }}
  <a class="work-link" href="{{ .Params.site }}">

    <svg aria-hidden="true" class="work-link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 273.14 293.33">
    <path d="M116.45,269.65a134.57,134.57,0,1,1,40.25,0"/><path d="M156.66,37.64a100.93,100.93,0,1,1-40.43.05"/><path d="M200.85,156.53a67.29,67.29,0,1,1,0-39.92"/><path d="M105.57,123.48a33.64,33.64,0,1,1,0,26.29"/><circle cx="136.57" cy="35.64" r="20.19"/><circle cx="203.86" cy="136.57" r="20.19"/><circle cx="136.57" cy="271.15" r="20.19"/><circle cx="102.93" cy="136.57" r="13.46"/>
</g></svg>
    <span class="work-link-label">Site</span>
  </a>
  {{ end }}

  {{ if .Params.source }}
  <a class="work-link" href="{{ .Params.source }}">
    <svg aria-hidden="true" class="work-link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 273.14 293.33">
      <g>
        <path d="M116.45,269.65a134.57,134.57,0,1,1,40.25,0"/>
        <path d="M36.53,123.16A101,101,0,0,1,104.17,41"/>
        <path d="M236.62,150a100.94,100.94,0,0,1-200.09,0"/>
        <path d="M169,41a101,101,0,0,1,67.65,82.2"/>
        <circle cx="136.57" cy="50.02" r="33.64"/>
        <circle cx="136.57" cy="271.15" r="20.19"/>
        <circle cx="237.5" cy="136.57" r="13.46"/>
        <circle cx="35.64" cy="136.57" r="13.46"/>
        <circle cx="136.57" cy="136.57" r="13.46"/>
        <circle cx="87.08" cy="180.62" r="13.46"/>
        <circle cx="188.01" cy="180.62" r="13.46"/>
      </g>
    </svg>
    <span class="work-link-label">Source</span>
  </a>
  {{ end }}
</nav>
