<article class="summ">
  <div class="page-spacer">
    <header class="summ-header">
      <h2 class="summ-title">
        <a class="summ-title-link" href="{{ .Params.site }}">{{ .Title }}</a>
      </h2>
    </header>
    {{ if .Params.image }}
      <a class="summ-image-link" href="{{ .Params.site }}">
        <img class="summ-image" src="{{ .Params.image }}" />
      </a>
    {{ end }}
  </div>
  <div class="markdown-content">
    <p>
      {{ .Summary }}
    </p>
  </div>
  <div class="page-spacer">
    {{ .Render "links" }}
  </div>
</article>

