{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="main">
  <article class="work">
    <div class="page-spacer">
      <header class="work-header">
        <h1 class="work-title">{{ .Title }}</h1>
        <div class="work-meta-container">
          {{ partial "meta" . }}
        </div>
      </header>
      {{ if .Params.image }}
        <img class="work-image" src="{{ .Params.image }}" />
      {{ end }}
    </div>
    <div class="markdown-content">
      {{ .Content }}
    </div>
    <div class="page-spacer">
      <div class="work-meta-container">
        {{ .Render "links" }}
      </div>
    </div>
  </article>
  <div class="page-spacer">
    <footer class="work-footer">
      {{ .Render "social" }}
    </footem>
    <div class="comments">
      {{ partial "comments.html" . }}
    </div>
  </div>
</main>

{{ partial "footer.html" . }}

{{ partial "foot.html" . }}
