<p>
  <a href="http://creativecommons.org/licenses/by/3.0/us/">CC 3.0 Attribution</a> {{ site.time | date: "%Y" }} -
  <a href="https://plus.google.com/115032056022257436849?rel=author">{{ site.author }}</a> -
  <a href="{{ root_url }}/atom.xml">Feed</a>
  <span class="main-footer-extras">-
    <a href="{{ root_url }}/sitemap.xml">Sitemap</a> -
    <a href="https://github.com/jaketrent/jaketrent-blog/issues">Report a Bug</a> -
    <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
  </span>
</p>
