<div class="main-footer-logo"></div>
<ul class="main-footer-links-list">
  <li class="main-footer-links-item">
    <span class="main-footer-verbage">Content licensed</span> {{ site.time | date: "%Y" }} <a href="http://creativecommons.org/licenses/by/3.0/us/">CC 3.0 Attribution</a>
  </li>
  <li class="main-footer-links-item">
    <span class="main-footer-verbage">Authored by </span><a href="https://plus.google.com/115032056022257436849?rel=author">{{ site.author }}</a>
  </li>
  <li class="main-footer-links-item">
    <span class="main-footer-verbage">Subscribe to the </span><a href="{{ root_url }}/atom.xml">Feed</a>
  </li>
  <li class="main-footer-links-item main-footer-links-item-extra">
    <a href="{{ root_url }}/sitemap.xml">Sitemap</a>
  </li>
  <li class="main-footer-links-item main-footer-links-item-extra">
    <a href="https://github.com/jaketrent/jaketrent-blog/issues">Report a Bug</a>
  </li>
  <li class="main-footer-links-item main-footer-links-item-extra">
    <span class="main-footer-verbage">Chat on </span><a href="https://keybase.io/jaketrent">Keybase</a>
  </li>
  <li class="main-footer-links-item main-footer-links-item-extra">
    <span class="main-footer-verbage">Powered by </span><a href="http://octopress.org">Octopress</a>
  </li>
</ul>