
.entry {

  .meta,
  .entry-categories {
    font-family: $sans;
    overflow: hidden;
    font-size: 14px;
    color: #656565;
  }

  .rrssb-buttons {
    margin: 30px 0;
    overflow: hidden;
  }
}
