// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
$link-color: lighten(#ffffff, 3) !default;
$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: adjust-color($link-color, $hue: 80, $lightness: -4) !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;

body > header {
  background: #333;
  text-align: center;
  text-shadow: 2px 2px 5px #000;
  text-transform: uppercase;
}
.title {
  font-size: 3em;
}
.desc {
  float: none;
}
.desc h2 {
  color: #ff9f0a;
  text-shadow: -2px -2px 5px #000, 2px 2px 5px #000, -2px 2px 5px #000, 2px -2px 5px #000;
}


/* Social Media Icons
------------------------------------------------------------ */
#social {
  margin-top: 30px;
  overflow: hidden;
}

#social li {
  float: left;
  border-bottom: 0;
}

.social {
  display: block;
  height: 32px;
  margin: 0 0 0 10px;
  padding: 0;
  text-indent: -9999px;
  width: 32px;
  border-radius: 2px;
  background: #333 url('/images/socialsprite.png') no-repeat;
}
.social:hover {
  background-color: #ff9f0a;
}

.social.first,
.social.first:hover {
  margin-left: 0;
}

.social-email { background-position: -0px -0px; width: 32px; height: 32px; }
.social-googleplus { background-position: -32px -0px; width: 32px; height: 32px; }
.social-dribbble { background-position: -64px -0px; width: 32px; height: 32px; }
.social-rss { background-position: -0px -32px; width: 32px; height: 32px; }
.social-stumbleupon { background-position: -32px -32px; width: 32px; height: 32px; }
.social-pinterest { background-position: -64px -32px; width: 32px; height: 32px; }
.social-twitter { background-position: -0px -64px; width: 32px; height: 32px; }
.social-github { background-position: -32px -64px; width: 32px; height: 32px; }
.social-linkedin { background-position: -64px -64px; width: 32px; height: 32px; }
.social-facebook { background-position: -0px -96px; width: 32px; height: 32px; }
.social-youtube { background-position: -32px -96px; width: 32px; height: 32px; }


@media only screen and (min-width: 300px) {
  .desc {
    letter-spacing: 3px;
  }
}

@media only screen and (min-width: 550px) {
  body > header {
    background: #333 url(/images/jt.png) no-repeat 0 5px;
    background-size: 147px;
  }
}

@media only screen and (min-width: 768px) {
  body > header {
    background-size: 171px;
    background-position: 20px 5px;
  }
  .desc {
    letter-spacing: 4px;
  }
}

@media only screen and (min-width: 992px) {
  body > header {
    background-size: 250px;
    background-position: 50px 0;
  }
  .desc {
    letter-spacing: 5px;
  }
}