// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
$link-color: lighten(#ffffff, 3) !default;
$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: adjust-color($link-color, $hue: 80, $lightness: -4) !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;

.logo {
  float: left;
  width: 85px;
  max-width: 100%;
  display: none;
}

/* Social Media Icons
------------------------------------------------------------ */
#social {
  margin-top: 30px;
  overflow: hidden;
}

#social li {
  float: left;
  border-bottom: 0;
}

#social li a,
#social li a:hover {
  display: block;
  height: 32px;
  margin: 0 0 0 10px;
  padding: 0;
  text-indent: -9999px;
  width: 32px;
  border-radius: 2px;
}

#social li a.first,
#social li a.first:hover {
  margin-left: 0;
}

#social li.social-facebook a {
  background: #333 url(/images/social/32x32_facebook.png);
}

#social li.social-facebook a:hover {
  background: #ff9f0a url(/images/social/32x32_facebook.png);
}

#social li.social-googleplus a {
  background: #333 url(/images/social/32x32_googleplus.png);
}

#social li.social-googleplus a:hover {
  background: #ff9f0a url(/images/social/32x32_googleplus.png);
}

#social li.social-linkedin a {
  background: #333 url(/images/social/32x32_linkedin.png);
}

#social li.social-linkedin a:hover {
  background: #ff9f0a url(/images/social/32x32_linkedin.png);
}

#social li.social-pinterest a {
  background: #333 url(/images/social/32x32_pinterest.png);
}

#social li.social-pinterest a:hover {
  background: #ff9f0a url(/images/social/32x32_pinterest.png);
}

#social li.social-rss a {
  background: #333 url(/images/social/32x32_rss.png);
}

#social li.social-rss a:hover {
  background: #ff9f0a url(/images/social/32x32_rss.png);
}

#social li.social-twitter a {
  background: #333 url(/images/social/32x32_twitter.png);
}

#social li.social-twitter a:hover {
  background: #ff9f0a url(/images/social/32x32_twitter.png);
}

#social li.social-github a {
  background: #333 url(/images/social/32x32_github.png);
}

#social li.social-github a:hover {
  background: #ff9f0a url(/images/social/32x32_github.png);
}


@media only screen and (min-width: 300px) {
  .logo {
    display: block;
  }
  .desc {
    float: left;
    margin: 8px 0 0 10px;
  }
}